<a href="https://colab.research.google.com/github/Tradingmouse/online-study-space/blob/main/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
import numpy as np

In [3]:
from numpy.random import randn

In [6]:
np.random.seed(101)

In [9]:
df = pd.DataFrame(randn(5,4),["A","B","C","D","E"],["W","X","Y","Z"])

In [11]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [12]:
df["W"]

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [13]:
type(df["W"])

pandas.core.series.Series

In [15]:
df.W #fast but not optimal way since the .(index row) could comme in the way of commands

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [19]:
df["X"] # this is the preffered way to use the .(index row)

A    0.196800
B   -0.156598
C   -0.610259
D   -0.479448
E    1.862864
Name: X, dtype: float64

In [21]:
df[["W","X"]] # to get more rows out of your index

          W         X
A -0.993263  0.196800
B  1.025984 -0.156598
C  2.154846 -0.610259
D  0.147027 -0.479448
E -0.925874  1.862864

In [25]:
df["New"] = df["X"] + df["W"] # this is how you can ad new collums

In [27]:
df

          W         X         Y         Z       New
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

In [33]:
df.drop('New', axis=1, inplace=True) # axis=1 for collums

#the inplace=True function is there so you don't cut of data by accident, if you want to make sure the imput stay's troughout the project the inplace=True is required

In [34]:
df # as you can see if you use the dataframe function

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [36]:
df.drop ("E", axis=0) # axis=O for rows

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [37]:
df.shape

(5, 4)

In [38]:
df[["W","X"]]

          W         X
A -0.993263  0.196800
B  1.025984 -0.156598
C  2.154846 -0.610259
D  0.147027 -0.479448
E -0.925874  1.862864

In [41]:
df.loc['C']

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

In [43]:
df.iloc[2] # python starts counting from < 0 >

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

In [44]:
df.loc["B", "Y"]

-0.031579143908112575