<a href="https://colab.research.google.com/github/Tradingmouse/public-computing-space/blob/main/Serries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np

In [7]:
labels = ['a', "b", 'c', "d","e"]
my_list = [1,2,3,420,69]
arr = np.array([1,2,3,420,69])
d = {"a":10, "b":20, "b":30, "c":100}

In [8]:
pd.Series(my_list,index=labels)

a      1
b      2
c      3
d    420
e     69
dtype: int64

In [9]:
pd.Series(arr,labels)

a      1
b      2
c      3
d    420
e     69
dtype: int64

In [10]:
pd.Series(data=labels)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4,5], index= ["China","USA", "Belgium", "Russia", 'Netherlands'])

In [17]:
ser1

China          1
USA            2
Belgium        3
Russia         4
Netherlands    5
dtype: int64

In [18]:
ser2 = pd.Series([1,2,3,4,5], index= ["Italy","USA", "Belgium", "France", 'Netherlands'])

In [22]:
ser1 ["USA"], + ser2 ["Netherlands"]

(2, 5)

In [23]:
ser1+ser2

Belgium         6.0
China           NaN
France          NaN
Italy           NaN
Netherlands    10.0
Russia          NaN
USA             4.0
dtype: float64